# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\maktab52\projects\XO_Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
